/***************************
*****BUTTON-BACK-TO-TOP*****
***************************/
#toTop {
    display: none;
}
.button__to__top {
    position: fixed;
    right: 15px;
    bottom: 15px;

    width: 50px;
    height: 50px;

    border-color: transparent;
    border-radius: 20%;

    background: linear-gradient(0deg, #4CB649 0%, #58d156 100%);

    opacity: 0.9;

    cursor: pointer;

    transition: .5s ease;

    .arrow-svg {
        width: 30px;
        height: 30px;
    
        fill: #DFE9F4;
    
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-42%, -50%) rotate(270deg);

        transition: .4s ease;

        svg {
            animation: back__to__top 1s ease-in-out infinite alternate;
        }

        @keyframes back__to__top {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(2px);
            }
        }
    }

    &:hover {
        .arrow-svg {
            transform: translate(-42%, -53%) rotate(270deg);
            svg {
                animation: unset;
            }
        }
    }

    &:hover,
    &:focus {
    filter: brightness(1.1);
    outline: none;
}
}
