.wrapper__recent__posts {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .input__position {
        position: absolute;
        right: 0;
        
        margin: 40px 0px;
        .input__search__blog {
            display: flex;
            align-items: center;
        
            gap: 13px;
        
            position: relative;
        
            svg {
                position: absolute;
                left: 17px;

                animation: search 1s ease-in-out infinite alternate;
            }

            @keyframes search {
                10% {
                    transform: rotate(20deg);
                }

                20% {
                    transform: rotate(10deg);
                }
                
                40% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(00deg);
                }

                60% {
                    transform: rotate(00deg);
                }
                
            }
           
            input {
                background: #FFFFFF;
                border: 1px solid #D7D8D9;
                border-radius: 4px;

                width: 313px;
                padding: 15px;
                &:focus {  
                    border: 1px solid #4CB649;
                }

            }
           
            input[placeholder="Search blog"] {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 1.1rem;
                line-height: 28px;


                color: #22252E;

                transition: .3s ease;

                padding-left: 52px;
            
            }
           
            input::-webkit-calendar-picker-indicator {
                opacity: 0;
            }
        }
    }

    .flex__wrapper {
        display: flex;

        .line {
            border: 1px solid #EBECED;
            margin: 40px 60px 0 60px ;
        }

        .section__recent__posts {
    
            .grey__line {
                margin: 60px 0 30px 0;
                border: 1px solid #EBECED;
            }
            h2 {
                display: inline-block;
                font-weight: 300;
                font-size: 2rem;
                line-height: 44px;

                color: #22252E;

                margin: 40px 0;

                opacity: 0;
                transform: scale(.9);
                transition: .6s .1s ease;

                &._active {
                    opacity: 1;
                    transform: scale(1);
                }

            }

            .post {
                display: flex;
                gap: 40px;
                position: relative;

                .info__post {
                    display: flex;
                    
                    flex-direction: column;
                    .text__header {
                        font-weight: 300;
                        font-size: 1.5rem;
                        line-height: 34px;

                        color: #22252E;

                        max-width: 440px;

                        margin-bottom: 7px;
                    }

                    .name__date {
                        display: flex;
                        gap: 10px;

                        .name {
                            font-weight: 400;
                            
                            line-height: 22px;
                            
                            color: #323642;
                            
                        }

                        .date {
                            font-weight: 400;
                            line-height: 22px;                                     
                            
                            color: #889099;
                        }
                    }

                    .sub__links {
                        display: flex;
                        gap: 5px 2px;
                        margin: 7px 0;

                        flex-wrap: wrap;
                        
                        a {
                            font-weight: 400;
                            font-size: .9rem;
                            line-height: 16px;
                            
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                            color: #4CB649;

                            position: relative;

                            &:after {
                                background-color: #4CB649;
                                display: block;
                                content: "";
                                height: 1px;
                                width: 0%;
                                left:50%;
                                position:absolute;
                                transition: width .2s ease;
                                transform:translateX(-50%);
                            }
                            &:hover:after,
                            &:focus:after {
                                width: 90%;
                            }
                        }
                    }

                    .svg__comments {
                        display: flex;
                        
                        gap: 12px;

                        align-items: center;

                        p {
                            font-weight: 400;
                            
                            line-height: 22px;
                        
                                                        
                            color: #889099;

                        }
                    }
                }
            }

            .btn__all__posts , .btn__close__posts  {
                background: #fff;

                border: 1px solid #4CB649;

                border-radius: 30px;

                width: 260px;
                height: auto;
               
                margin: 10px auto 50px auto;

                z-index: 1;

                position: relative;

                overflow: hidden;

                &::before {
                    opacity: 0;
                    content: "";

                    transition: opacity .4s ease;

                    z-index: -1;

                    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);

                    display: block;
                    
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover::before {
                    opacity: 1;
                }

                &:hover  {
                    .all__photos {
                        p {
                            color: #fff;
                        }
                    }
                }
                   
                .all__photos {
                    cursor: pointer;
                    p {
                        padding: 11px 50px;

                        font-weight: 500;
                        
                        line-height: 18px;

                        text-align: center;
                        letter-spacing: 0.8px;
                        text-transform: uppercase;

                        color: #4CB649;

                        transition: .4s ease;
                    }
                }
            }
            
            .btn__all__posts {
                display: block;
                &.open {
                    display: none;
                }
            }
            
            .btn__close__posts {
                display: none;
                &.open {
                    display: block;
                }
            } 

            .block__all__posts {
                display: none;
                
                &.open {
                    display: block;
                   
                }

            }
        }
    }
}

@media(max-width:1230px) {
    .wrapper__recent__posts {
        .input__position {

        }

        margin: 0 15px;
    }
}

@media(max-width:1060px) {
    .wrapper__recent__posts {
        .input__position {

        }
        .flex__wrapper {
            justify-content: space-between;
            .section__recent__posts {
                .post {
                    flex-direction: column;
                    gap: 18px;
                }
            }
        }

    }
}

@media(max-width:760px) {
    .wrapper__recent__posts {
        .input__position {
            position: unset;
            margin: 40px 0 0 0;
        }
        .flex__wrapper {
            flex-direction: column;
            .line {
                display: none;
                
            }

            .section__recent__posts {
                .post {
                    .photo__in__post {
                        img {
                            width: 315px;
                        }
                    }
                }
            }
        }

    }
}

@media(max-width:414px) {
    .wrapper__recent__posts {
        .input__position {
            .input__search__blog {
                justify-content: center;


                input {
                    width: 100%;
                }
            }
        }
        .flex__wrapper {

            .section__recent__posts {
                .post {
                    .photo__in__post {
                        img {
                            width: 100%;
                        }
                    }
                }

                .btn__all__posts ,
                .btn__close__posts  {
                    width: 100%;
                }

                .grey__line {
                    margin: 60px 0 60px 0;
                }
            }
        }

    }
}