::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #4CB649 0%, #58d156 100%);
    border-radius: 15px;
}